# Virtual Environment
venv/

# Local Database File
feedback.db

# PyInstaller files
dist/
build/
*.spec

# Executables and Batch Files
*.exe
*.bat
main_launcher.py  # <-- ADD THIS LINE

# IDE and OS specific files
.vscode/
__pycache__/
*.pyc